#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --bg-color: #f2f2f2; /* light mode */
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #222222; /* dark mode */
  --text-color: #ffffff;
}

.card {
  border: solid 4px;
  padding: 2em;
  color: #000000;
}

.read-the-docs {
  color: #f2f2f2;
}
.component {
  border: solid 4px #000000;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 30%;
}
